.aside {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 20rem;
  flex-grow: 1;
  background: black;
  color: white;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 2rem;
}

.asideContainer {
  padding: 2rem;
}

.title {
  font-weight: 600;
  font-family: Pacaembu;
  line-height: 2.5rem;
  display: block;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }
}

@media (max-width: 835px) {
  .aside {
    height: 10rem;
  }
}
