.browser {
  --padding: 0.65rem;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'bar'
    'viewport';
  position: relative;
  width: 100%;
  border: 4px solid black;
  background-color: white;
  border-radius: 4px;
  box-shadow: var(--padding) var(--padding) 0 #ff6cc0;
}

.browser iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.browser::before,
.browser::after {
  content: '';
  grid-area: bar;
}

.browser::before {
  height: 30px;
  background-color: #feb201;
}

.browser::after {
  --size: 12px;
  align-self: center;
  margin-inline-start: var(--padding);
  width: var(--size);
  height: var(--size);
  background-color: #ff6cc0;
  border-radius: 50%;
}

.inner {
  padding: var(--padding);
}

.browser + * {
  margin-block-start: 1.5rem;
}
