.nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  flex: 1 0 100%;
  background-color: #0173fc;
  overflow: hidden;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

@media (hover: hover) and (pointer: fine) {
  .item:hover .link {
    transform: scale(1.4);
  }
}

.link {
  display: block;
  padding: 0.5rem 1rem 0.65rem;
  font-weight: 700;
  font-family: 'Pacaembu';
  line-height: normal;
  color: white;
  transition: transform 100ms ease-out;
}

.link:focus-visible {
  outline-offset: -4px;
}

.logo {
  display: flex;
  margin-left: .5rem;
}