.nav {
  flex: 1 0 100%;
  background-color: #0173fc;
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.link {
  display: block;
  padding: 1rem;
  font-weight: 700;
  font-family: 'Pacaembu';
  color: white;
}
