.nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  flex: 1 0 100%;
  background-color: #0173fc;
  overflow: hidden;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior: contain;
}

@media (hover: hover) and (pointer: fine) {
  .item:hover .link:not(.logo) {
    transform: scale(1.4);
  }
}

.item {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  line-height: 1;
}

.link {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-family: 'Pacaembu';
  color: white;
  transition: transform 100ms ease-out;
}

.link:focus-visible {
  outline-offset: -4px;
}

.logo {
  margin-inline-end: -0.5rem;
}
