.main {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 500px;
}

.row {
  display: flex;
}

.row:nth-child(even) {
  background-color: whitesmoke;
  flex-direction: row-reverse;
}

.link {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 2rem;
}
