.main {
  grid-area: main;
  overflow-y: auto;
}

.list {
  background-color: var(--color-5);
}

.row {
  --padding: clamp(1rem, 10vw, 3rem);
  display: flex;
  overflow: hidden;
  gap: var(--padding);
}

.row + .row {
  border-block-start: 4px solid var(--color-1);
}

.row:nth-child(even) {
  flex-direction: row-reverse;

  a {
    display: flex;
    flex-direction: row-reverse;
  }
}

.letter {
  --box-size: clamp(8rem, 15vw, 15rem);
  aspect-ratio: 0.7;
}

.video {
  width: 100%;
  max-width: 850px;
  margin: auto;
}

.videoWrapper {
  background-color: #062341;
  width: 100%;
}

.link {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 2rem;
  font-size: clamp(1.5rem, 0.5rem + 2vw, 3rem);
  font-weight: 700;
  color: var(--color-1);
}
