.main {
  grid-area: main;
  overflow-y: auto;
  position: relative;
}

.markdown {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  max-width: 65ch;
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max(25vh, 10rem);
  background-color: var(--color-5);
  color: white;
  overflow: hidden;
  background-image: paint(photoCopy);
}

.header .letter {
  width: 100%;
  max-width: 1000px;
}

.title {
  font-size: clamp(2rem, 1rem + 2.9vw, 3.5rem);
  font-weight: 700;
  margin: auto;
  padding: 3.5rem 0;
  line-height: 1.2;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  margin: 2.5rem auto;
}

.paginationLink {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-family: 'Roboto Mono', monospace;
}

.paginationLink span {
  color: #0173fc;
}

.paginationLetter {
  font-family: Bungee Inline;
  font-size: 0.9rem;
  font-size: clamp(3rem, 10vw, 5rem);
  color: var(--color-1);
  user-select: none;
}

.paginationArrow path {
  color: var(--color-2);
}
