.main {
  grid-area: main;
  overflow-y: auto;
}

.markdown {
  display: grid;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max(25vh, 10rem);
  background-color: var(--color-5);
  color: white;
  overflow: hidden;
}

.header .letter {
  width: 100%;
}

.article {
  padding: 1.5rem;
  max-width: 65ch;
  margin-inline: auto;
}

.paginationWrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 1.5rem;
  position: absolute;
  width: calc(100% - 20vw);
  bottom: 0;
}

.paginationLink {
  flex: 1;
}
