.main {
  grid-area: main;
  overflow-y: auto;
  background-image: paint(photoCopy);
}

.article {
  padding: 1.5rem;
  max-width: 65ch;
  margin-inline: auto;
}

.markdown {
  display: grid;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max(25vh, 10rem);
  background-color: var(--color-5);
  color: white;
  overflow: hidden;
  background-image: paint(photoCopy);
}

.header .letter {
  width: 100%;
}

.title {
  font-size: clamp(2rem, 1rem + 2.9vw, 3.5rem);
  font-weight: 700;
  margin: auto;
  padding: 3.5rem 0;
  line-height: 1.2;
}

.paginationWrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 1.5rem;
  margin: auto;
  width: calc(100% - 20vw);
}

.paginationLink {
  flex: 1;
}
